<p class="byline brandon">Be the first to know</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
  <input class="submit brandon" name="commit" type="submit" value="Get $12 Off" />
<% end %>
<p class="inquiry brandon">What is Working With Ideas?</p>
<div class="inquiry-pop">video embed</div>