<p class="thanks brandon">THANK YOU!</p>
<p class="compiling">WE ARE COMPILING REWARDS AND WILL EMAIL COUPONS ON TUESDAY MORNING.</p>
<p class="go-to">In the meantime, head to <br><a href="https://workingwithideas.co/">WORKINGWITHIDEAS.CO</a></p>