<p class="byline">Be the first to know</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Enter Email", :class => "email" %>
  <input class="submit" name="commit" type="submit" value="Get $12 Off" />
<% end %>
<p class="inquiry"><a href="https://workingwithideas.co">What is Working With Ideas?</a></p>